@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

/* Adjust the main title styles */
h1.title {
  font-size: 1.8rem; /* Adjusted size for smaller headings */
  font-weight: 600; /* Maintain a bold appearance */
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Optional: Add a softer color */
}

/* For additional responsiveness */
@media screen and (max-width: 768px) {
  h1.title {
    font-size: 1.5rem; /* Further adjust size for smaller screens */
  }
}
